<%= form.inputs do %>
	<p><%= Post::USER_DAILY_WORD_GOAL %> words minimum today!</p>

	<%= form.input :body, :placeholder => "Get to typin!".html_safe %>
	<div id="barbox"><div id="bar"></div></div><div id="count"><%= Post::USER_DAILY_WORD_GOAL %></div></div>

  	<span class="fieldLabel">Title</span>
  	<%= form.input :title, :placeholder => "A Tale of Two Cities".html_safe %>
<% end %>
