<tr class="<%= cycle('', 'alt') %>">
  <td><%= post.published_at.strftime('%d %b, %Y') %></td>
  <td><%= link_to (post.title == '' ? '[Untitled]' : truncate(post.title, :length => 30)), admin_post_path(post) %></td>
  <td><% tmpc = truncate(post.body, :length => 55) %><%= (tmpc != '' ? tmpc : '&nbsp;') %></td>
  <td>
    <%= form_for(post, :as => :post, :url => admin_post_path(post), :html => {:class => 'delete-item', :method => :delete}) do |form| -%>
      <%= image_submit_tag("silk/delete.png", :alt => 'Delete Post') %>
    <% end -%>
  </td>
</tr>
