<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <!-- Included JS Files -->
  <%= javascript_include_tag 'admin' %>
  <!-- Included Font CSS Files -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
  <!-- Included CSS Files -->
  <%= stylesheet_link_tag 'application' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
  <%= render 'layouts/shim' %>
  <% if flash[:notice] -%>
    <%= javascript_tag do -%>
      $(function() {
        humanMsg.displayMsg('<%= escape_javascript(flash[:notice]) %>');
      })
    <% end -%>
  <% end -%>

</head>
<body onLoad="document.forms.new_post.post_body.focus()">
  <%= render 'layouts/header' %>
  <div class="row">
      <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <script type="text/javascript">
    function enterFullScreen(){
      var elem = document.getElementById("newPost");
      elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
      new_post.post_body.focus();
    }
  </script>
</body>
</html>
