<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= enki_config[:title] %> - Admin</title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'admin' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= yield(:head) %>
  <%= render 'layouts/shim' %>
  <% if flash[:notice] -%>
    <%= javascript_tag do -%>
      $(function() {
        humanMsg.displayMsg('<%= escape_javascript(flash[:notice]) %>');
      })
    <% end -%>
  <% end -%>
</head>
<body>
  <div id="header" class="row">
    <%= render 'layouts/header' %>
  </div>
  <div id="content" class="row">
      <%= yield %>
  </div>
  <div id="footer" class="row">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
