<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id="header" class="row">
    <%= render 'layouts/header' %>
  </div>
  <div id="content" class="row">
      <%= yield %>
  </div>
  <div id="footer" class="row">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
